# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
xcuserdata/
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
build/
